{% extends 'base.html' %}
{% block title %}Albums by Artist{% endblock %}
{% block header %}Albums by Artist{% endblock %}
{% block content %}
<div class="albums_artist_heading">{{ artist }}</div>
<div class="button-links">
    <a href="{% url 'post-album-list' %}">home</a>
</div> 
{% for album in albums %}
<article class="card">
    <footer>
        <p class='album-title'>{{album.title}}</a></p>
            <button class="favorite">Favorite</button>
    </footer>
</article>
{% endfor %}
{% endblock %}
{% block footer%}{% endblock %}