
{% extends 'base.html' %}
{% block title %}Albums by Artist{% endblock %}
{% block header %}Albums by Artist{% endblock %}
{% block content %}
<div class="button-links">
    <a href="{% url 'post-album-list' %}">home</a>
</div> 
<div id="container-box">
    {% for artist in artists %}
        <article class="card">
            <a class="album-title" href="{% url 'albums-artist' artist.pk %}">{{ artist }}</a>
        </article>
    {% endfor %}
</div>
{% endblock %}
{% block footer%}{% endblock %}