@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;700&family=Nunito+Sans:wght@300;600&family=Poppins:wght@100;200;300;400&family=Raleway:wght@100;300;400;600&family=Roboto+Mono:wght@500&family=Rubik:wght@300;400;600&family=Source+Sans+Pro:wght@200;400;600&display=swap');

* {
    font-family: poppins;
}
.details-table th {
    background-color: #85144b;
}

.album-title {
    font-size: 20px;
}

.submit-button {
    background: #85144b;
}

.add-album-form {
    display: flex;
    flex-direction: column;
    width: 50%; 
}

.homepage-add-button {
    background-color: #85144b;
}

.delete-button {
    background-color:  #85144b;
}