@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;700&family=Nunito+Sans:wght@300;600&family=Poppins:wght@100;200;300;400&family=Raleway:wght@100;300;400;600&family=Roboto+Mono:wght@500&family=Rubik:wght@300;400;600&family=Source+Sans+Pro:wght@200;400;600&display=swap');

* {
    font-family: poppins;  
}

body {
    background-color: #EDEDE9;
}
.header {
    text-align: center;
    padding: 20px 25px;
    margin-bottom: 20px;
    border-bottom: 10px solid #D6CCC2;
    background-color: #E2DDD6;
    color: white;
}
.header-text {
    font-size: 36px;
}

.button-links a:link {
    color: white;
    
}
.button-links a:visited {
    color: white;  
}

#container-box {
    display: flex;
    flex-wrap: wrap;
}
.card {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    width: 300px;
    height: 200px;
    margin: 20px; 
    background-color: #F5EBE0;
}

.primary th {
    background-color: #555B6E;
    margin-left: 20px;
}

.primary {
    margin-left: 20px;
    margin-top: 65px;
}

.album-title {
    font-size: 16px;
    margin: auto;
    padding: 20px, 0px; 
}

.album-title a:link {
    color: #555B6E;
    
}
.album-title a:visited {
    color: #555B6E;  
}

.add-edit-album-form {
    display: flex;
    flex-direction: column;
    width: 50%; 
    margin-left: 20px;
}

.button-links {
    background-color:  #555B6E;
    margin-left: 20px;
    margin-bottom: 20px; ;
    padding: 5px;
    width: 275px; 
    border-radius: 0.5em;
    text-align: center;  
}

.button-links button {
    background-color:  #555B6E;
}

.footer {
    margin-top: 300px;
    border-top: 15px solid #D6CCC2;  
}




